/*==================================== 
	 学互网-学习社区
	 作者：lbz 
	 日期：2013-1 
 ====================================*/

/*==================================== 
  	主体框架
 ====================================*/
.message{ width:700px; margin-left:40px; margin-top:30px;  font-size:13px;
}
.message-1{
	margin-top:20px; width:100%; float:left;
}

/*==================================== 
  	顶部选项卡
 ====================================*/
.message-nav{
	 height:22px; border-bottom:1px solid #ddd;margin:auto; margin-top:20px;
	 width:770px; 
}
.message-nav li{
	width:70px; height:22px; float:left; text-align:center; line-height:22px;
	 font-size:13px; cursor:pointer; color:#555;
}
.message-nav-li-curr{
	border-bottom:2px solid #1caede; 
}
 
 /*==================================== 
  	消息列表
 ====================================*/
.message-list{
	padding:10px 20px; margin-left:20px; width:600px; border-bottom:1px solid #eee;
	float:left;
}
.message-list:hover{
	background-color:#f4f4f4;
}
.message-list-img{
	float:left;
}
.message-list-right{
	float:right; width:540px; 
}
.message-list-right>div{
	height:20px;
}
.add-friends-pass-btn,.add-society-pass-btn{
	background-color:#1caede; color:#fff; width:60px; height:25px; text-align:center; 
	line-height:25px;float:right;cursor:pointer; border-radius:2px;
}
.add-friends-refuse-btn,.add-society-refuse-btn{
	background-color:#f2f2f2; color:#888; margin-right:10px;
}
.add-friends-deal-result{
	width:80px; height:25px; line-height:25px; text-align:center; float:right;
}

.message-page-box{
	height:40px; text-align:right; line-height:40px; float:left;
	width:100%;/*  display:none; */
}
.message-page-box-top{
	
}
.message-page-box-bottom{
	 margin-top:20px; margin-bottom:100px;
}
.message-page-a,.message_chat_page_a{
	padding:5px 10px; border:1px solid #ddd; margin-right:5px; cursor:pointer; background-color:#f8f8f8;
	color:#666; text-decoration:none;
}
.message-page_curr_a,.message_chat_page_curr_a{
	background-color:#1caede; color:#fff; border:1px solid #1caed0;
}


/*============== 好友留言 =================*/

.chat_history_box{
	width:650px; margin:auto;
}
.message_chat_list{
	width:600px;
}
.message_chat_right{
	border:1px solid #ddd; width:520px; float:right; padding:5px 10px;
	background-color:#f6f6f6; cursor:pointer;
}
.message_chat_right:hover{
	background-color:#f2f2f2;
}
.message_chat_right_1{
	line-height:18px;
}
.message_chat_right_2{
	color:#999; text-align:right;
}
.message_chat_name{
	font-weight:bold; color:#666;
}
 
/*============== 聊天记录 =================*/

.message_name{
	font-weight:bold;
}

.chat_history_list{
	float:left; margin-top:10px; margin-bottom:10px;
}
.chat_history_img{
	float:left; border-bottom:1px solid #ddd; padding-bottom:1px; 
	border-right:1px solid #ddd; padding-right:1px;
	border-radius:3px;
}
.chat_history_point{
	float:left; width:9px; height:12px; margin-top:25px; margin-left:5px;
	background:url(../image/message_point_left_hui.png) no-repeat;
}
.chat_history_right_box{
	float:left; width:500px;
}
.chat_history_right{
	float:left; padding:8px 10px; background-color:#ededed; border-radius:4px;
	border-bottom:1px solid #ddd;
}
.chat_history_right_1{
	color:#444; line-height:18px; float:left;
}
.chat_history_right_2{
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999;
	float:right;
}
.chat_history_delete{
	float:right;width:20px; height:20px;
	font-weight:bold; cursor:pointer; text-align:center;
	background-color:#888; color:#f2f2f2; margin-right:-15px; margin-top:-12px;
	visibility:hidden; background:url(../image/close_ico.png) no-repeat;
}
.chat_history_delete:hover{
	line-height:19px; background:url(../image/close_ico_hover.png) no-repeat;
}

.chat_history_float_right{
	float:right;
}
.chat_history_point_right{
	background:url(../image/message_point_hui.png) no-repeat; float:right;
	margin-left:0px; margin-right:5px; margin-top:5px;
}
.chat_history_time_right{
	float:right; text-align:right;
}
.chat_history_delete_right{
	float:left; margin-right:0px; margin-left:-15px;
}